body {
    padding: 0 100px;
}

body, p, .ui-widget, .ui-widget .ui-widget {
    font-size: 14px;
}

ul.topMenu li {
    display: inline;
    margin-right:15px;
}

a {
    color: grey;
}
.ui-menuitem-text{
    margin-right: 5px;
}
.ui-menu.ui-widget li > .ui-menuitem-link.ui-state-hover{
    background: #ccc;
    border: 0px solid transparent;
    border-radius:5px;
}

h1 {font-family: "Helvetica Neue";}

.ui-button{
    margin: 10px 10px 10px 0;
}

fieldset {
    background: grey;
}

div#content {
    height: 600px;
}

.columnLable{
    color:grey;
    vertical-align: top;
}

.ui-widget-content, .ui-datatable tbody td, .ui-panelgrid .ui-panelgrid-cell{
    border:none;
}



.ui-fieldset{
    border:1px solid #ddd;
}
