<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form>
        <p:panelGrid columns="1" style="margin: auto;">
            <p:inputText placeholder="title" value="#{ticketBean.title}" style="width:400px"/>
            <p:inputTextarea placeholder="description" value="#{ticketBean.description}" style="width:400px" />
            <p:commandButton value="Create" action="#{ticketBean.createTicket()}"
                             update="@this,:projectForm"
                             onclick="PF('createTicketDialog').hide();"/>
        </p:panelGrid>
    </h:form>


</ui:composition>