<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

        <h:form>
            <p:panelGrid columns="1" style="margin: auto;">
                <p:inputText placeholder="users email (separated with commas)" value="#{projectBean.name}" style="width:400px"/>

                <p:commandButton value="Add" action="#{projectBean.createProject()}" update="@this,:projectForm"
                                 onclick="PF('createProjectDialog').hide();"/>
            </p:panelGrid>
        </h:form>


</ui:composition>