<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">
    <div class="bottom">
        <p:outputLabel style="font-size: 10px;">Copyright © 2013-2014 - 8bitcenter </p:outputLabel>
    </div>
</ui:composition>