<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" >
<h:head>
    <meta charset='utf-8'/>
    <link href='#{facesContext.externalContext.requestContextPath}/resources/css/common.css' rel='stylesheet' type='text/css' />

</h:head>

<h:body>

    <div class="main">
        <div id="header">
            <ui:insert name="topMenu">
                <ui:include src= "topMenu.xhtml" />
            </ui:insert>
        </div>
        <div id="content" >
            <ui:insert name="content">
                <ui:include src= "content.xhtml" />
            </ui:insert>
        </div>
        <div id="bottom">
            <ui:insert name="bottom">
                <ui:include src= "bottom.xhtml" />
            </ui:insert>
        </div>

    </div>

</h:body>

</html>