<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <h:form id="top">
        <div class="top_menu">
            <p:menubar>
                <p:menuitem value="Dashboard" action="#{navigationBean.navigateToDashboard()}" />
                <p:menuitem value="Profile" action="#{navigationBean.navigateToProfile()}" />
                <p:menuitem value="LogOut" action="#{userBean.logout()}" icon="ui-icon-close" />
                <f:facet name="options">
                    <p:inputText style="margin-right:10px" placeholder="Search"/>
                </f:facet>
            </p:menubar>
        </div>
    </h:form>

</ui:composition>