<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../WEB-INF/templates/templateMain.xhtml">


<ui:define name="content">
    <h1>Dashboard</h1>

    <h:form id="dashboardForm" prependId="false" >
        <p:fieldset legend="Projects" toggleable="true" toggleSpeed="500" style="width:500px" >

            <p:dataTable value="#{projectBean.projects}" var="project">
                     <p:column headerText="project name" width="200">
                         <p:commandLink value="#{project.name}" action="#{navigationBean.navigateToProject()}"
                                 actionListener="#{userBean.setSessionAttrs(project)}">
                         </p:commandLink>
                     </p:column>
                <p:column headerText="description">
                    <p:outputLabel value="#{project.description}"/>
                </p:column>
            </p:dataTable>

            <p:commandButton value="Create Project" styleClass="secondary"
                             onclick="PF('createProjectDialog').show();" icon="ui-icon-circle-plus"/>
            <p:dialog header="Create Project" widgetVar="createProjectDialog" modal="true"
                      width="600" height="400"
                      resizable="false">
                    <ui:include src="add/addProject.xhtml"/>
            </p:dialog>  
        </p:fieldset>
    </h:form>
</ui:define>

</ui:composition>