<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../WEB-INF/templates/templateMain.xhtml">


    <ui:define name="content">

        <h:form id="projectForm" prependId="false">
            <p:panelGrid columns="2" columnClasses="columnLable,columnValue">
                <p:outputLabel value="First name: "/>
                <p:outputLabel value="#{session.getAttribute('currentUser').firstname}"/>
                <p:outputLabel value="Second name: "/>
                <p:outputLabel value="#{session.getAttribute('currentUser').secondname}"/>
                <p:outputLabel value="Email: "/>
                <p:outputLabel value="#{session.getAttribute('currentUser').email}"/>
                <p:outputLabel value="Image: "/>
                <p:outputLabel value="#{session.getAttribute('currentUser').image}"/>
            </p:panelGrid>

        </h:form>
    </ui:define>

</ui:composition>