<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../WEB-INF/templates/templateMain.xhtml">


    <ui:define name="content">

                <h1 style="margin:0;"> #{session.getAttribute('currentProject').name}</h1>

        <p:commandButton value="Create ticket" icon="ui-icon-circle-plus"
                         onclick="PF('createTicketDialog').show();"/>

        <p:commandButton value="Edit project" icon="ui-icon-pencil"/>
        <h:form id="projectForm" prependId="false">
            <p:dataTable value="#{ticketBean.findTicketsByProjectId(session.getAttribute('currentProject').id)}"
                         var="ticket" style="float:left;width:70%;">
                <f:facet name="header">
                    Tickets
                </f:facet>
                <p:column headerText="number" width="100">
                    <p:commandLink value="#{ticket.ticketNumber}" action="#{navigationBean.navigateToTicket()}"
                            actionListener="#{ticketBean.setSessionAttrs(ticket)}">
                    </p:commandLink>
                </p:column>
                <p:column headerText="title">
                    <p:outputLabel value="#{ticket.title}"/>
                </p:column>
                <p:column headerText="priority" width="70">
                    #{ticket.priority}
                </p:column>
                <p:column headerText="status" width="70">
                        #{ticket.status}
                </p:column>
            </p:dataTable>

            <div>
                <p:dataTable value="#{userBean.projectUsers}" var="user"
                            paginator="true" rows="10"
                            style="float:right;width:25%;margin-left:10px;">
                    <f:facet name="header">
                        Users
                        <p:commandButton icon="ui-icon-circle-plus"
                                         onclick=""/>
                    </f:facet>
                  <p:column>
                      <p:commandLink value="#{user.email}" action="#{navigationBean.navigateToProject()}">
                          <!--<f:setPropertyActionListener value="#{user.name}" target="#{userBean.currentProject}" />-->
                      </p:commandLink>
                  </p:column>


                </p:dataTable>
            </div>


            <p:dialog header="Create Ticket" widgetVar="createTicketDialog" modal="true"
                      width="600" height="400"
                      resizable="false">
                    <ui:include src="add/addTicket.xhtml"/>
            </p:dialog>  

        </h:form>
    </ui:define>

</ui:composition>