<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../WEB-INF/templates/templateMain.xhtml">


    <ui:define name="content">

        <h:form id="ticketForm" prependId="false">
            <p:panel>
                <p:commandButton value="Edit" icon="ui-icon-pencil" />

            </p:panel>

            <p:outputLabel value="#{session.getAttribute('currentTicket').ticketNumber}"/>
            <h1>#{session.getAttribute('currentTicket').title}</h1>
            <p:panelGrid columns="2" style="width:80%;" columnClasses="columnLable,columnValue">

                <p:outputLabel value="project"/>
                <p:commandLink value="#{session.getAttribute('currentProject').name}"
                               action="#{navigationBean.navigateToProject}"/>

                <p:outputLabel value="status"/>
                <p:outputLabel value="#{session.getAttribute('currentTicket').status}"/>
                <p:outputLabel value="priority"/>
                <p:outputLabel value="#{session.getAttribute('currentTicket').priority}"/>

                <p:outputLabel value="description"/>
                <p:outputLabel>
                        <pre style="white-space:pre-line;">#{session.getAttribute('currentTicket').description}</pre>
                </p:outputLabel>



                <p:outputLabel value="reported on"/>
                <p:outputLabel value="#{session.getAttribute('currentTicket').reportedDateFormatted}"/>

            </p:panelGrid>
        </h:form>
    </ui:define>

</ui:composition>