<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
        template="WEB-INF/templates/templateMain.xhtml">

<ui:define name="topMenu">
    <img src="http://vk.com/images/stickers/232/128.png"/>
</ui:define>
<ui:define name="content">
    <h:form prependId="false">
        <h:panelGrid columns="1">
            <p:inputText id="Email" placeholder="email" value="#{userBean.email}"
                         required="true"/>

            <p:password id="Password" placeholder="password" value="#{userBean.password}"/>
            <p:messages id="loginMessage" autoUpdate="true"/>

            <h:panelGroup>
                <p:commandButton value="Sign In" action="#{userBean.validateLogin()}" styleClass="btn"/>

                <p:button value="Sign Up" outcome="register.xhtml" styleClass="ui-priority-primary"/>

            </h:panelGroup>
        </h:panelGrid>
    </h:form>
</ui:define>

</ui:composition>
