<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="WEB-INF/templates/templateMain.xhtml">

    <ui:define name="topMenu">
        <img src="http://vk.com/images/stickers/232/128.png"/>
    </ui:define>
    <ui:define name="content">
        <h:form prependId="false">
            <h:panelGrid columns="1">
                <p:inputText placeholder="email *" value="#{userBean.email}"
                             required="true"/>
                <p:inputText placeholder="first name *" value="#{userBean.firstname}"
                             required="true"/>
                <p:inputText placeholder="second name" value="#{userBean.secondname}"/>
                <p:password value="#{userBean.password}" placeholder="password *"
                            id="password" match="pass2"  styleClass="input" required="true"
                            requiredMessage="Password field is empty"/>
                <p:password value="#{userBean.password}" placeholder="repeat password *" id="pass2"
                            styleClass="input" />
                <p:messages id="loginMessage" autoUpdate="true"/>

                    <p:commandButton value="Register" action="#{userBean.register()}"/>

            </h:panelGrid>
        </h:form>
    </ui:define>

</ui:composition>
